<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title> generate password</title>
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body class="bg-dark">

    <nav class="navbar navbar-dark bg-dark">

         <a class="navbar-brand" href="{% url 'home' %}"> generate password </a>

         <div class="container">

            <div class="jumbotron">

                {% block content %}



                {% endblock %}
            </div>
         </div>
    </nav>
</body>
</html>